<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Allow the admin to frame the adapter at the address saved in the configuration. -->
    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="flipick_adapter" xsi:type="object" sortOrder="4">Flipick\VideoGenerator\Model\Csp\AdapterCollector</item>
            </argument>
        </arguments>
    </type>
</config>
